.letter {
  animation: color-animation 4s linear infinite;
}

.l1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.l2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #48991f;
}

.l3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.l4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */



.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0!important;
}